@use "src/styles/variables";

.navActive > a {
  text-decoration: underline !important;
  // text-underline-offset: 1px !important;
  pointer-events: none;

}



/* Focusing with a keyboard.*/
*:focus-visible {
  outline: 2px dashed map-get(variables.$colors, white);
}



/* Focusing the button with a mouse, touch, or stylus.*/
*:focus:not(:focus-visible) {
  outline: none;
}

a {
  &:hover {
    color: map-get(variables.$colors, red);
  }

  &:hover svg {
    path,
    circle,
    rect {
      fill: map-get(variables.$colors, red) !important;
    }
  }
}

@keyframes glow {
  from {
    color: map-get(variables.$colors, red);
  }

  to {
    color: map-get(variables.$colors, white);
  }
}

*:target {
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-name: glow;
}