@use "sass:math";


$golden-ratio: 1.618033;
$ratio: 2.3;

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
                #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
                ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}



$min_width: 320px;
$max_width: 1200px;
$min_font: 15px;
$max_font: 18px;



$h1: 1rem * math.pow($ratio, math.div(3, 3));
$h2: 1rem * math.pow($ratio, math.div(2, 3));
$h3: 1rem * math.pow($ratio, math.div(1, 3));
$p: 1rem * math.pow($ratio, math.div(0, 3));
$small: 1rem * math.pow($ratio, math.div(-2, 3));

$breakpoint-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-small: 480px;

$font-size-base: 14px; // Golden ditonic scale with base font sizes of 12px, 14px, 16px and 18px for different viewport width sizes.