.about {
  display: flex;
  align-items: center;

  & :global(h2),
  & :global(h3) {
    text-align: center;
  }
}

.portraits {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1300px;

  div {
    margin-top: 16px;
  }
}
