.centeredText {
  display: flex;
  align-items: center;
}

.portraits {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1300px;
  margin-top: 32px;
}
