$breakpoint-tablet: 768px;

.centeredText {
  height: 100%;
  display: flex;
  justify-content: center;
}

.h1 {
  font-family: "monotonregular";
  white-space: break-spaces;
}

@media (max-width: $breakpoint-tablet) {
  .h1 {
    width: 240px;
    align-self: center;
  }
}
