:root {
  font-size: 64px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 46px;
  font-weight: normal;
}

p {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: 100;
}

small {
  font-size: 28px;
}

nav {
  font-size: 28px;
}

a {
  text-decoration: none;
}

.m-0 {
  margin: 0;
}
