.hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  left: 20px;
  margin: 0 20px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    color: #333;
    background-color: currentColor;
    transition: all 0.45s ease-in-out;
  }
  &::before {
    top: 0;
    transform: rotate(0);
  }
  &::after {
    bottom: 0;
    left: 0;
    box-shadow: 0 -50px currentColor;
  }

  transform: scale(3);
  position: absolute;
  left: 300px;
  top: 300px;
}

/*
* Hamburger three on hover
*/
.hamburger {
  transition: transform all 0.55s ease-in-out;
  &:before,
  &:after {
    transition: all 0.3s ease-in-out;
  }
  &:before {
    width: unset;
    height: unset;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
  }
  &:after {
    top: 0;
    left: 0;
    bottom: unset;
    box-shadow: 0 20px currentColor;
  }
  &:hover {
    transform: scale(3) rotate(45deg);

    &:before,
    &:active {
      left: calc(50% - 2.5px);
      right: calc(50% - 2.5px);
      top: -12.5px;
      bottom: -2.5px;
      color: #ececec;
    }
    &:after {
      top: 5px;
      color: #ff355e;
      box-shadow: 0 30px transparent;
    }
  }
}
