@use "base";

$color-background: #f5f5f5;
$color-main: #1abc9c;
$button-height: 27px;
$button-width: 35px;

.button_container {
  position: absolute;
  top: 28px;
  right: 20px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.5;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: map-get(base.$palette, white);
    }
    .middle {
      opacity: 0;
      background: map-get(base.$palette, white);
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: map-get(base.$palette, white);
    }
  }

  span {
    background: map-get(base.$palette, gray);
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}
