@use "sass:math";

$thickness: 0.21rem;
$height: 7 * $thickness;
$width: $height * 1.61;

.hamburger {
  width: $width;
  height: $height;
  position: relative;
  left: 20px;
  margin: 0 20px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $thickness;
    color: #727272;
    background-color: currentColor;
    transition: all 0.45s ease-in-out;
    border-radius: 0.6px;
  }
  &::before {
    top: 0;
    transform: rotate(0);
  }
  &::after {
    bottom: 0;
    left: 0;
    box-shadow: 0 -50px currentColor;
  }
}

/*
* Hamburger three on hover
*/
.hamburger {
  transition: transform all 0.55s ease-in-out;
  &:before,
  &:after {
    transition: all 0.2s ease-in-out;
  }
  &:before {
    width: unset;
    height: unset;
    left: 0;
    right: 0;
    top: $height -$thickness;
    bottom: 0;
  }
  &:after {
    top: 0;
    left: 0;
    bottom: unset;
    box-shadow: 0 ($height - (4 * $thickness)) currentColor;
  }
  &:hover {
    height: $width;
    transform: rotate(45deg);

    &:before,
    &:active {
      left: calc(50% - math.div($thickness, 2));
      right: calc(50% - math.div($thickness, 2));
      top: 0px;
      bottom: 0px;
      color: #ececec;
    }
    &:after {
      top: math.div($width -$thickness, 2);
      color: #ff355e;
      box-shadow: 0 0px transparent;
    }
  }
}
