.container {
  display: flex;
}

h1 {
  margin: 0;
  a {
    color: red;
  }
}

.nav > ul {
  display: flex;
  flex-direction: row;
}

.nav > ul > li {
  width: 100%;
  margin-left: 48px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;

  li {
    list-style: none;
  }
  a {
    color: black;
  }
}
