@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "monotonregular";
  src: url("monoton-regular-webfont.woff2") format("woff2"),
    url("monoton-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "monotonregular";
  color: black;
}

$palette: (
  blue: #22678c,
  lightBlue: #23778c,
  lighterBlue: #48525c,
  yellow: #ffa949,
  lightYellow: #eda2fc,
);

a {
  color: #2904bd;

  &:hover {
    color: pink;
  }
}

* {
  transition-property: color background-color opacity;
  transition-duration: 0.2s;
}

main h1,
h2,
a {
  transition-duration: 0.05s;
}
